Source: hud
Section: gnome
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: bamfdaemon,
               cmake,
               bustle,
               dbus-test-runner,
               debhelper (>= 9),
               dh-autoreconf,
               gir1.2-dee-1.0,
               gnome-common,
               gnome-doc-utils,
               gobject-introspection,
               gtester2xunit,
               gtk-doc-tools,
               indicator-application (>= 0.4.90),
               indicator-appmenu,
               indicator-appmenu-tools,
               intltool,
               libappindicator3-dev,
               libbamf3-dev (>= 0.2.53),
               libdbusmenu-glib-dev (>= 0.5.90),
               libdbusmenu-gtk3-dev (>= 0.5.90),
               libdbusmenu-jsonloader-dev (>= 0.5.90),
               libdbustest1-dev,
               libdee-dev,
               libgirepository1.0-dev,
               libgtk-3-dev,
               libncurses5-dev,
               libreadline-dev,
               libsqlite3-dev,
               metacity,
               sqlite3,
               valac-0.18,
               xvfb,
               python3-dbusmock,
               libpocketsphinx-dev (>= 0.8),
               libsphinxbase-dev (>= 0.8),
               pocketsphinx-hmm-en-hub4wsj (>= 0.8),
               pocketsphinx-lm-en-hub4 (>= 0.8),
Standards-Version: 3.9.4
Homepage: http://launchpad.net/hud
# If you aren't a member of ~indicator-applet-developers but need to upload
# packaging changes, just go ahead.  ~indicator-applet-developers will notice
# and sync up the code again.
Vcs-Bzr: http://bazaar.launchpad.net/~indicator-applet-developers/hud/trunk.13.04
Vcs-Browser: https://code.launchpad.net/~indicator-applet-developers/hud/trunk.13.04

Package: hud
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         pocketsphinx-hmm-en-hub4wsj (>= 0.8),
         pocketsphinx-lm-en-hub4 (>= 0.8)
Recommends: julius-voxforge (>= 0.1.1~daily20130206),
Conflicts: indicator-appmenu (<< 13),
Description: Backend for the Unity HUD
 Unity HUD is a heads-up-display interface for controlling the behavior of
 applications as well as Unity via typed-in commands. It provides access to
 all applications menu via a single central interface, in order to simplify
 application usage and make menus more accessible.
 .
 This package provides a service for Unity's HUD

Package: hud-tools
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         hud (= ${binary:Version}),
         sqlite3,
Conflicts: indicator-appmenu-tools (<< 13),
Description: Tools for debugging the Unity HUD.
 Unity HUD is a heads-up-display interface for controlling the behavior of
 applications as well as Unity via typed-in commands. It provides access to
 all applications menu via a single central interface, in order to simplify
 application usage and make menus more accessible.
 .
 This package provides tools for working with Unity's HUD.

Package: libhud1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Recommends: hud (= ${binary:Version})
Description: library for exporting items to the Unity HUD
 Allows applications to add items into the HUD without requiring a
 menubar or other parsed GUI elements.
 .
 This package contains shared libraries to be used by applications.

Package: libhud1-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libhud1 (= ${binary:Version}),
         libglib2.0-dev
Multi-Arch: same
Description: library for exporting items to the Unity HUD
 Allows applications to add items into the HUD without requiring a
 menubar or other parsed GUI elements.
 .
 This package contains files that are needed to build applications.

Package: gir1.2-hud-1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libhud1 (= ${binary:Version}),
         ${gir:Depends},
Pre-Depends: ${misc:Pre-Depends}
Recommends: hud (= ${binary:Version})
Description: typelib file for libhud1
 Allows applications to add items into the HUD without requiring a
 menubar or other parsed GUI elements.
 .
 This package can be used by other packages using the GIRepository format to
 generate dynamic bindings for libdbusmenu-gtk4.

Package: libhud-gtk1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Recommends: hud (= ${binary:Version})
Description: GTK helpers for exporting items to the Unity HUD
 Allows applications to add items into the HUD without requiring a
 menubar or other parsed GUI elements using standard GTK features.
 .
 This package contains shared libraries to be used by applications.

Package: libhud-gtk1-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libhud-gtk1 (= ${binary:Version}),
         libhud1-dev (= ${binary:Version}),
         libglib2.0-dev
Multi-Arch: same
Description: GTK helpers for exporting items to the Unity HUD
 Allows applications to add items into the HUD without requiring a
 menubar or other parsed GUI elements using standard GTK features.
 .
 This package contains files that are needed to build applications.

Package: libhud-client1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Recommends: hud (= ${binary:Version})
Description: private library for implementing a HUD frontend
 Interface for querying the HUD and getting results.
 .
 This package contains shared libraries to be used by applications.

Package: libhud-client1-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libhud-client1 (= ${binary:Version}),
         libglib2.0-dev
Recommends: libhud-client1-doc
Multi-Arch: same
Description: private library for implementing a HUD frontend
 Interface for querying the HUD and getting results.
 .
 This package contains files that are needed to build applications.

Package: libhud-client1-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libhud-client1-dev (>= ${source:Version})
Description: private library for implementing a HUD frontend
 Interface for querying the HUD and getting results.
 .
 This package contains developer documentation.

Package: gir1.2-hud-client-1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libhud-client1 (= ${binary:Version}),
         ${gir:Depends},
Pre-Depends: ${misc:Pre-Depends}
Recommends: hud (= ${binary:Version})
Description: typelib file for libhud-client-1
 Interface for querying the HUD and getting results.
 .
 This package can be used by other packages using the GIRepository format to
 generate dynamic bindings for libdbusmenu-gtk4.
