#!/usr/bin/make -f

export DPKG_GENSYMBOLS_CHECK_LEVEL = 4
export G_MESSAGES_DEBUG=all
export DEBIAN_TARGET_DIR="${CURDIR}/debian/tmp"

ifeq (,$(filter $(DEB_HOST_ARCH),ppc64el armhf arm64))
	ENABLE_BAMF = OFF
	ENABLE_MEMCHECK_OPTION = OFF
else
	ENABLE_BAMF = ON
	ENABLE_MEMCHECK_OPTION = ON
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DDEBIAN_TARGET_DIR="${DEBIAN_TARGET_DIR}" -DENABLE_DOCUMENTATION=ON -DENABLE_MEMCHECK_OPTION=$(ENABLE_MEMCHECK_OPTION) -DENABLE_BAMF=$(ENABLE_BAMF)

override_dh_install:
	dh_install --fail-missing
